 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/newfolder2/admin/css/style.css">

</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="~/admin" class="logo">Selah</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="~/admin">Notification</a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Blog Management</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="~/blogmgt">View posts</a>
                            </li>
                            <li>
                                <a href="~/blogmgt/create"> Create new post</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Book Management</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="~/bookmgt/create">Add new book</a>
                            </li>
                            <li>
                                <a href="~/bookmgt">View Books</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="~/admin/signout">Signout</a>
                    </li>
                </ul>
                @*<div class="footer">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>*@
            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/newfolder2/admin/js/jquery.min.js"></script>
    <script src="~/newfolder2/admin/js/popper.js"></script>
    <script src="~/newfolder2/admin/js/bootstrap.min.js"></script>
    <script src="~/newfolder2/admin/js/main.js"></script>
    @if (IsSectionDefined("AddToEnd"))
    {
        @RenderSection("AddToEnd", required: false)
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
