@model SelahSeries.ViewModels.EMIHomeViewModel
@using System.Collections;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
    Layout = "~/views/EMI/_EMILayout.cshtml";
    var events = Model.Events;
    var testimonies = Model.Testimonies;

}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">

            <div class="banner_content text-center">
                <h5 class="selah_project">The Emerald Light Initiative : &nbsp&nbsp&nbsp    A Selah Series Project</h5>

                <h3>We shine the Light to give you Hope Again!</h3>
                <p>A lot of teenagers and young girls have fallen victims of societal rejection due to early unwanted pregnancies and hurtful<br /> relatonships. Some lose hope and are never able to get back up until they have an encounter with Light.</p>

                <a class="main_btn" href="~/emeraldlight/contact-us">Contact Us</a>
                <a class="white_btn" href="~/emeraldlight/events">View Activities</a>
            </div>
        </div>
    </div>
    <div class="donation_area">
        <div class="container">
            <div class="row donation_inner">
                <div class="col-lg-4">
                    <div class="dontation_item yellow">
                        <div class="media">
                            <div class="media-body">
                                <p>
                                    Life's challenges are not supposed to paralyze you, they're supposed to help you discover who you are.
                                </p>
                                <br />
                                <p><i>- Bernice Johnson Reagon</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dontation_item pink">
                        <div class="media">
                            <div class="media-body">
                                <p>You can be changed by what happens to you, but refuse to be reduced by it.</p>
                                <br />
                                <p><i>- Maya Angelou</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dontation_item green">
                        <div class="media">
                            <div class="media-body">
                                <p>
                                    She was powerful, not because she wasn't scared but she went on so strongly despite the fear.
                                </p>
                                <br />
                                <p><i>- Atticus</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area welcome2">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6 text_welcome">
                <div class="welcome_text">
                    <h4>Emerald Light Initiative</h4>
                    <p>
                        Young girls caught in the act through early unwanted pregnancies are targets of our wrath. Society responds to them, often, in ways that are not healthy to their mental, 
                        emotional and spiritual well-being. This poses detrimental effects on the lives, future and total well-being of these girls as well as their children. We at 
                        Emerald Light Initiative have risen to be a voice for these young beauties. We provide advocacy, support and counselling to them. 
                        We also spread awareness about the effects of society stigmatization on these young girls. This is a family of love, of light and of grace! 
                        You are welcome to be a part of us. Do reach out also if you are in need of online counselling.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="welcome_img">
                    <img class="img-fluid" width="max-content" height="340" src="~/EMI/img/pexels-nicholas-githiri-1027931.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

<!--================Feature Area =================-->
<section class="feature_area feature2">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="white_title">
            <h2>Our Key Features</h2>
            <p>We are the Emerald Light Initiative! We advocate for and support pregnant teenagers &amp; teen mothers</p>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4">
                <div class="feature_item">
                    <i class="lnr lnr-diamond"></i>
                    <h4>Sponsorship</h4>
                    <p>We give educational, mental and financial empowerment for teens and young girls who are pregnant or presently nursing their babies </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature_item">
                    <i class="lnr lnr-coffee-cup"></i>
                    <h4>Projects &amp; Events</h4>
                    <p>With our projects aimed towards teenagers and young girls, we are able to sentisize and support those who have had distressing pasts</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature_item">
                    <i class="lnr lnr-wheelchair"></i>
                    <h4>Become a Volunteer</h4>
                    <p>We have made opportunity available for more people to be a part of this life-changing initiative. You can <a href="~/emeraldlight/volunteer">volunteer now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<!--================Event Area =================-->
@if (events.Any())
{
<section class="event_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Upcoming Events</h2>
            <p>Emerald Light Initiative <br /> Keep in touch with our events and projects</p>
        </div>
        <div class="event_slider owl-carousel">
            @foreach (var item in events)
            {
                <div class="item">
                    <div class="event_item">
                        <div class="media">
                            <div class="d-flex event-image">
                                <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ImgUrl)" alt="">
                            </div>
                            <div class="media-body">
                                <a>@Html.DisplayFor(modelItem => item.Time)</a>
                                <a a href="~/emeraldlight/event/@Html.DisplayFor(modelItem => item.EventId)"><h4>@Html.DisplayFor(modelItem => item.Title)</h4></a>
                                <p class="line-clamp">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}

@if (!events.Any())
{
    <h2 class="no_event">Stay in touch and subscribe to get notifications on our upcoming Events!</h2>
}
<!--================End Event Area =================-->
<!--================Testimonials Area =================-->
@if (testimonies.Any())
{
<section class="testimonials_area p_120">
    <div class="container">
        <div class="row testimonials_inner">
            <div class="col-lg-4">
                <div class="testi_left_text">
                    <h4>Testimonials</h4>
                    <p>Read Testimonials of women who have been impacted through this platform.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="testi_slider owl-carousel">

                    @foreach (var item in testimonies)
                    {
                        <div class="item">
                            <div class="testi_item">
                                <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ImgUrl)" width="80" height="80" border-radius="50%" alt="">
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
}
<!--================End Testimonials Area =================-->
<style>
    .img-fluid {
        max-width: 75%;
    }

    .welcome2 {
        padding-top: 133px;
        /*padding-bottom: 65px*/
        padding-bottom: 120px
    }

    .feature2 {
        /*padding-top: 120px;*/
        padding-top: 120px;
        padding-bottom: 120px
    }

    .mission2 {
        padding-top: 65px;
        padding-bottom: 180px
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .event-image {
        width: 50%;
    }

    .text_welcome{
        margin-top:44px;
    }
    .no_event {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
    }
</style>