@model SelahSeries.ViewModels.PostDetailViewModel
@{
    ViewData["Title"] = Model.Post.Title ?? "Selah Series";
    var pageURL = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}";
}
@section AddMetaTags{

    <meta property="og:title" content=@($"{Model.Post.Title}")>
    <meta property="og:description" content=@($"{Model.Post.Category.Title} Talks {Model.Post.Title} By {Model.Post.Author}")>
    <meta property="og:image" content="http://selahseries.com//uploads/@Model.Post.TitleImageUrl>
    <meta property="og:url" content="@Uri.EscapeDataString(pageURL)">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
}

@section AddToHead {
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/post.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/post_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/more_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/postclap.css">
}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/NewFolder2/js/post.js"></script>
    <script src="~/NewFolder2/js/comment.js"></script>
    <script src="~/NewFolder2/js/mo.min.js"></script>
    <script src="~/NewFolder2/js/postclap.js"></script>
}

<div style="max-width:100%;" class="container">
    <!-- Home -->
    <span data-postId style="display:none;">@Model.Post.PostId</span>
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" style="background-image:url('/uploads/@Model.Post.TitleImageUrl'); margin-top:20px" data-speed="0.8"></div>
        <div class="home_content">
            <div class="post_category trans_200"><a style="box-sizing:border-box; color:white" class="trans_200">@Model.Post.Category.Title</a></div>
            <div style="" class="post_title">@Model.Post.Title</div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">

                <!-- Post Content -->
                <div class="col-lg-9">
                    <div class="post_content">
                        <!-- Top Panel -->
                        <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
                            <div class="author_image">
                                <div><img src="https://ui-avatars.com/api/?name=@Model.Post.Author&background=D4AF37&color=fff" alt=""></div>
                            </div>
                            <div class="post_meta"><a href="#">@Model.Post.Author</a><span>@Model.Post.CreatedAt.ToShortDateString() at @Model.Post.CreatedAt.ToShortTimeString()</span></div>
                            <div class="post_share ml-sm-auto">
                                <span>share</span>
                                <ul class="post_share_list">
                                    <li class="post_share_item">
                                        <a href="https://facebook.com/sharer/sharer.php"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post_share_item">
                                        <a href="https://twitter.com/share"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post_share_item">
                                        <a href="https://linkedin.com/shareArticle"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Post Body -->
                        <div class="post_body">


                            <p class="post_p">
                                @Html.Raw(Model.Post.Content)
                            </p>


                        </div>
                        <!-- Bottom Panel -->
                        <div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="author_image"><div><img src="https://ui-avatars.com/api/?name=@Model.Post.Author&background=D4AF37&color=fff" alt=""></div></div>
                            <div class="post_meta"><a href="#">@Model.Post.Author</a><span>@Model.Post.CreatedAt.ToShortDateString() at @Model.Post.CreatedAt.ToShortTimeString()</span></div>
                            <div>
                                <button id="clap" class="clap">
                                    <span>
                                        <!--  SVG Created by Luis Durazo from the Noun Project  -->
                                        <svg id="clap--icon" xmlns="http://www.w3.org/2000/svg" viewBox="-549 338 100.1 125">
                                            <path d="M-471.2 366.8c1.2 1.1 1.9 2.6 2.3 4.1.4-.3.8-.5 1.2-.7 1-1.9.7-4.3-1-5.9-2-1.9-5.2-1.9-7.2.1l-.2.2c1.8.1 3.6.9 4.9 2.2zm-28.8 14c.4.9.7 1.9.8 3.1l16.5-16.9c.6-.6 1.4-1.1 2.1-1.5 1-1.9.7-4.4-.9-6-2-1.9-5.2-1.9-7.2.1l-15.5 15.9c2.3 2.2 3.1 3 4.2 5.3zm-38.9 39.7c-.1-8.9 3.2-17.2 9.4-23.6l18.6-19c.7-2 .5-4.1-.1-5.3-.8-1.8-1.3-2.3-3.6-4.5l-20.9 21.4c-10.6 10.8-11.2 27.6-2.3 39.3-.6-2.6-1-5.4-1.1-8.3z" />
                                            <path d="M-527.2 399.1l20.9-21.4c2.2 2.2 2.7 2.6 3.5 4.5.8 1.8 1 5.4-1.6 8l-11.8 12.2c-.5.5-.4 1.2 0 1.7.5.5 1.2.5 1.7 0l34-35c1.9-2 5.2-2.1 7.2-.1 2 1.9 2 5.2.1 7.2l-24.7 25.3c-.5.5-.4 1.2 0 1.7.5.5 1.2.5 1.7 0l28.5-29.3c2-2 5.2-2 7.1-.1 2 1.9 2 5.1.1 7.1l-28.5 29.3c-.5.5-.4 1.2 0 1.7.5.5 1.2.4 1.7 0l24.7-25.3c1.9-2 5.1-2.1 7.1-.1 2 1.9 2 5.2.1 7.2l-24.7 25.3c-.5.5-.4 1.2 0 1.7.5.5 1.2.5 1.7 0l14.6-15c2-2 5.2-2 7.2-.1 2 2 2.1 5.2.1 7.2l-27.6 28.4c-11.6 11.9-30.6 12.2-42.5.6-12-11.7-12.2-30.8-.6-42.7m18.1-48.4l-.7 4.9-2.2-4.4m7.6.9l-3.7 3.4 1.2-4.8m5.5 4.7l-4.8 1.6 3.1-3.9" />
                                        </svg>
                                    </span>
                                    <span style="opacity:0;" id="clap--count" class="clap--count"></span>
                                    <span id="clap--count-total" style="top:-25.857143px;" class="clap--count-total"></span>
                                    <span style="top:80px" class="clap--count-total">claps</span>
                                </button>
                            </div>
                            <div class="post_share ml-sm-auto">
                                <span>share</span>
                                <ul class="post_share_list">
                                    <li class="post_share_item">
                                        <a href="https://facebook.com/sharer/sharer.php?u=@Uri.EscapeDataString(pageURL)&t=@Model.Post.Title"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post_share_item">
                                        <a href="https://twitter.com/share?url=@Uri.EscapeDataString(pageURL)&via=TWITTER_HANDLE&text=@Model.Post.Title"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post_share_item">
                                        <a href="https://linkedin.com/shareArticle?mini=true&url=@Uri.EscapeDataString(pageURL)&title=@Model.Post.Title"
                                           class="share-popup"
                                           target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Similar Posts -->
                        <div class="similar_posts">
                            <div class="grid clearfix">

                                @foreach (var item in Model.RelatedPosts)
                                {
                                    @if (item.PostId != Model.Post.PostId)
                                    {
                                        <div class="card card_small_with_image grid-item">
                                            <img class="card-img-top" src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="https://unsplash.com/">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">@Html.DisplayFor(modelItem => item.Title)</a></div>
                                                <small class="post_meta"><a href="#">@Html.DisplayFor(modelItem => item.Author)</a><span>@Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                            </div>
                                        </div>
                                    }

                                }




                            </div>
                        </div>
                        <div>
                            <!-- Post Comment -->
                            <div class="post_comment">
                                <div class="post_comment_title">Post Comment</div>
                                <div class="row">
                                    <div class="col-xl-9">
                                        <div class="post_comment_form_container">
                                            <form method="post" asp-controller="Blog" asp-action="PostComment">
                                                <input type="hidden" value="@Model.Post.PostId" asp-for="Comment.PostId" />
                                                <input type="text" asp-for="Comment.Author" class="comment_input comment_input_name" placeholder="Your Name (optional)" />
                                                <input type="email" asp-for="Comment.Email" class="comment_input comment_input_email" placeholder="Your Email (optional)" />
                                                <textarea asp-for="Comment.Content" class="comment_text" placeholder="Your Comment" required="required"></textarea>
                                                <button type="submit" class="comment_button">Post Comment</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Comments -->
                            <div class="comments">
                                @if (!(Model.Post.Comments.Count() > 0))
                                {
                                    <div style="text-align:center; margin:5px 5px 40px 5px;" class="comments_title"> Be the first to comment on this post </div>
                                }
                                else
                                {
                                    <div class="comments_title">Comments <span>@Model.Post.Comments.Where(c => c.ParentCommentId == null).Count()</span></div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="comments_container">
                                                <ul data-commentList class="comment_list">
                                                    @foreach (var item in Model.Post.Comments.Where(com => com.ParentCommentId == null))
                                                    {
                                                        <li data-omment class="comment">
                                                            <div class="comment_body">
                                                                <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                                                    <small class="post_meta">
                                                                        <a href="#">@item.Author</a><span>
                                                                            @item.CreatedAt.ToShortDateString()
                                                                            at @item.CreatedAt.ToShortTimeString()
                                                                        </span>
                                                                    </small>
                                                                    <button type="button" data-ReplyListener="@item.CommentId" class="reply_button ml-auto">Reply</button>
                                                                </div>
                                                                <div class="comment_content">
                                                                    <p>@item.Content </p>
                                                                </div>

                                                                @await Html.PartialAsync("Comments", new SelahSeries.ViewModels.CommentVM() { Comments = Model.Post.Comments, ParentId = item.CommentId })

                                                                <!--Comment Reply Form-->
                                                                <template id="CommentBox">
                                                                    <div replyForm class="row">
                                                                        <div class="col-xl-10">
                                                                            <div style="margin-top:5px;" class="comment_reply_form_container" id="comment_reply_form">
                                                                                <form method="post" asp-controller="Blog" asp-action="PostComment">
                                                                                    <input type="hidden" value="@Model.Post.PostId" asp-for="Comment.PostId" />
                                                                                    <input type="hidden" data-commentParent asp-for="Comment.ParentCommentId" />
                                                                                    <input type="text" asp-for="Comment.Author" class="comment_input comment_input_name" placeholder="Your Name (Optional)" />
                                                                                    <input type="email" asp-for="Comment.Email" class="comment_input comment_input_email" placeholder="Your Email (Optional)">
                                                                                    <textarea asp-for="Comment.Content" class="comment_text" placeholder="Your Comment" required="required"></textarea>
                                                                                    <button type="submit" class="comment_button">Post Reply</button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </template>

                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Sidebar -->

                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar_background"></div>

                        <!-- Top Stories -->

                        <div class="sidebar_section">
                            <div class="sidebar_title_container">
                                <div class="sidebar_title">Top Stories</div>
                                <div class="sidebar_slider_nav">
                                    <div class="custom_nav_container sidebar_slider_nav_container">
                                        <div class="custom_prev custom_prev_top">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                            <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />

                                        </div>
                                        <ul id="custom_dots" class="custom_dots custom_dots_top">
                                            <li class="custom_dot custom_dot_top active"><span></span></li>

                                            <li class="custom_dot custom_dot_top"><span></span></li>
                                            <li class="custom_dot custom_dot_top"><span></span></li>
                                        </ul>
                                        <div class="custom_next custom_next_top">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                            <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />



											</svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar_section_content">

                                <div class="sidebar_slider_container">
                                    <div class="owl-carousel owl-theme sidebar_slider_top">
                                        @{
                                            const int POST_PER_SLIDE = 4;

                                            foreach (var (item, index) in Model.TopStories.Select((v, i) => (v, i)))
                                            {
                                                if (Model.Post.PostId == item.PostId) { continue; }
                                                bool renderRow = index % POST_PER_SLIDE == 0;
                                                if (renderRow)
                                                {
                                                    @*@Html.Raw("<div class='owl-item'>");*@
                                                }
                                                <div class="side_post">
                                                    <a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">
                                                        <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                            <div class="side_post_image"><div><img src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="@item.Title"></div></div>
                                                            <div class="side_post_content">
                                                                <div class="side_post_title">@Html.DisplayFor(modelItem => item.Title)</div>
                                                                <small class="post_meta">@Html.DisplayFor(modelItem => item.Author)<span>@item.ModifiedAt.Month.ToString() @item.ModifiedAt.Day</span></small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                if (renderRow)
                                                {
                                                    @*@Html.Raw("</div>");*@
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

<style>
    .facebook {
        color: #3b5999;
    }

    .twitter {
        color: #55acee;
    }
</style>




                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
