<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - SelahSeries</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Demo project">
    <meta name="google-site-verification" content="O5gmpVX6loi9HEm3mR7ddeC7b0FZglILI2VlXRMTzCo" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="~/sitersc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/sitersc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/sitersc/favicon-16x16.png">
    <link rel="manifest" href="~/sitersc/site.webmanifest">
    @if (IsSectionDefined("AddMetaTags"))
    {
        @RenderSection("AddMetaTags", required: false)
    }

    <environment include="Development">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/bootstrap4/bootstrap.min.css">
        <link href="~/NewFolder2/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css">

        @if (IsSectionDefined("AddToHead"))
        {
            @RenderSection("AddToHead", required: false)
        }

        <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/aos.css">
        <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/style.css">


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/NewFolder2/styles/bootstrap4/bootstrap.min.jsstyles/bootstrap4/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/NewFolder2/styles/main_styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/NewFolder2/styles/bootstrap4/bootstrap.min.jsstyles/bootstrap4/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>


    <div class="site-wrap">
        @if (ViewData["Add Navigation"] != "false")
        {
            <header class="header">
                <div class="row">
                    <div class="col" style="padding:0">
                        @*<div class="header_content d-flex flex-row align-items-center justify-content-start">*@

                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="/"><img style="height:42px" src="~/NewFolder2/new/selah hdr md.png" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="idNav collapse navbar-collapse" id="navbarSupportedContent">
                                <div style="width:100%;" class="  before_menu d-block d-sm-block d-md-block d-lg-none">
                                    @{ViewData["Search"] = "all";}
                                    @await Html.PartialAsync("SearchPartial")
                                </div>
                                <ul style="font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size:14px" class="navbar-nav ml-auto topnav">

                                    @{ 
                                        var currentRoute = Context.Request.Path;
                                        var homeLinks = new List<string>{ "home/index", "/", "home" };
                                        var homeLink = homeLinks.Any(x => x.Contains(currentRoute.ToString().ToLower()));
                                        var aboutLink = currentRoute.ToString().Contains("About", StringComparison.OrdinalIgnoreCase);
                                        var supportLink = currentRoute.ToString().Contains("Support", StringComparison.OrdinalIgnoreCase);
                                        var contactLink = currentRoute.ToString().Contains("Contact", StringComparison.OrdinalIgnoreCase);
                                        var bookLink = currentRoute.ToString().Contains("book", StringComparison.OrdinalIgnoreCase);

                                            }
                                    <li class="nav-item @(homeLink? "active" : "") ">
                                        <a class="nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item  @(aboutLink? "active" : "")">
                                        <a class="nav-link" href="~/About">About</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:13px">
                                            <a class="dropdown-item" href="~/?category=relationship_and_marriage#blog">Relationship & Marriage</a>
                                            <a class="dropdown-item" href="~/?category=sports#blog">Sports</a>

                                            <a class="dropdown-item" href="~/?category=politics#blog">Politics</a>
                                            <a class="dropdown-item" href="~/?category=career#blog">Career</a>
                                            <a class="dropdown-item" href="~/?category=general#blog">General</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown  @(supportLink? "active" : "")">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Support/Counselling
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size:13px">
                                            <a class="dropdown-item" href="~/Support/Index">Our Support Links</a>
                                            <a class="dropdown-item" href="~/Support/Send_Message">Send Message</a>
                                        </div>
                                    </li>
                                    <li class="nav-item  @(bookLink? "active" : "")">
                                        <a class="nav-link" href="~/Books/Index">Books</a>
                                    </li>

                                    <li class="nav-item  @(contactLink? "active" : "")">
                                        <a class="nav-link" href="~/Contact">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="cart nav-link" href="~/books/cart"><i class="fa fa-shopping-cart mr-1"></i><span style="background-color: #ad001c; padding: 2px 3px; color: white; border-radius: 6px">0</span></a>
                                    </li>
                                </ul>
                                <div class="after_menu d-none d-sm-none d-md-none d-lg-block ">
                                    @{ViewData["Search"] = "all";}
                                    @await Html.PartialAsync("SearchPartial")
                                </div>

                            </div>


                        </nav>

                        @*</div>*@
                    </div>
                </div>

            </header>


        }


        @RenderBody()

        @if (ViewData["Add Navigation"] != "false")
        {
            <!-- Footer -->

            <footer class="footer_big">



                <div class="container pt-5 border-bottom">
                    <div class="row" style="height:193px">
                        <div class="col-md-3 col-sm-6  col-6  text-center" style="color:white">
                            <img style="width:100%; height:100%; margin-top:-24px" src="~/NewFolder2/new/selah s.png" />
                        </div>




                        <div class="col-md-3 col-sm-6 col-6 p-0  float-left text-center">
                            <h4 class="font-weight-bold text-uppercase">Blog</h4>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=relationship_and_marriage#blog">Relationship & Marriage</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=careere#blog">Career</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=sports#blog">Sports</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=politics#blog">Politics</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6 col-6  p-0 float-left text-center">
                            <h4 class="font-weight-bold text-uppercase">Quick Links</h4>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Support/Send_Message">Support/Counselling</a></li>
                                @*<li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~Support/Index">Support Links</a></li>*@
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/About">About us</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Contact">Contact us</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Books/Index">Books</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 col-sm-6 col-6  p-0 float-left text-center">
                            <h4 class="font-weight-bold text-uppercase">Connect</h4>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://www.linkedin.com/in/lekan-agunbiade-52b13210/" target="_blank"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                                </li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://twitter.com/lalekan_304?s=09" target="_blank"><i class="fa fa-twitter mr-1"></i> Twitter</a>
                                </li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://www.instagram.com/lekanagunbiade/" target="_blank"><i class="fa fa-instagram mr-1"></i> Instagram</a>
                                </li>

                                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://web.facebook.com/lekan.agunbiade.7?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <div class="row text-center" style="" >
                        <div style="margin:auto;color:#c4913a;margin-bottom:40px">email: <a href="~/Contact" style=" text-decoration:underline; color:#c4913a">Connect@selahseries.com</a></div>
                    </div>
                </div>


            </footer>

            <footer class="footer_small">



                <div class="container mborder-bottom">
                    <div class="row">
                        <div class=" col-sm-12  col-12 text-center" style="color:white">
                            <img style="width:68%; height:96%" src="~/NewFolder2/new/selah s.png" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-6 p-0 mb-3 float-left text-center">
                            <h4 class="font-weight-bold text-uppercase">Blog</h4>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=relationship_and_marriage#blog">Relationship & Marriage</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=careere#blog">Career</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=sports#blog">Sports</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/?category=politics#blog">Politics</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-6 col-6 mb-3 p-0 float-left text-center">
                            <h4 class="font-weight-bold text-uppercase">Quick Links</h4>
                            <ul class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Support/Send_Message">Support/Counselling</a></li>
                                @*<li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~Support/Index">Support Links</a></li>*@
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/About">About us</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Contact">Contact us</a></li>
                                <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="~/Books/Index">Books</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="margin-top:18px">
                        <div class="col-md-12 col-sm-12 col-12 mb-3 p-0 float-left text-center">

                            <ul>
                                <li class="d-inline list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://www.linkedin.com/in/lekan-agunbiade-52b13210/ " target="_blank"><i class="fa fa-linkedin mr-1"></i></a>
                                </li>
                                <li class="d-inline bg-transparent border-0 p-0 mb-2">
                                    <a href="https://twitter.com/lalekan_304?s=09" target="_blank"><i class="fa fa-twitter mr-1"></i></a>
                                </li>
                                <li class="d-inline list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://www.instagram.com/lekanagunbiade/" target="_blank"><i class="fa fa-instagram mr-1"></i></a>
                                </li>

                                <li class="d-inline list-group-item bg-transparent border-0 p-0 mb-2">
                                    <a href="https://web.facebook.com/lekan.agunbiade.7?_rdc=1&_rdr" target="_blank"><i class="fa fa-facebook mr-1"></i></a>
                                </li>

                            </ul>
                        </div>

                    </div>



                    @*<div class="col-md-12">
                                <div class="py-4 d-flex justify-content-center align-items-center">
                                    <p style="color:white">Copyright &copy; <script>document.write(new Date().getFullYear());</script></p>
                                </div>
                        </div>*@
                </div>


            </footer>

        }
    </div>
    <environment include="Development">
        <script src="~/NewFolder2/js/jquery-3.2.1.min.js"></script>
        <script src="~/NewFolder2/styles/bootstrap4/popper.js"></script>
        <script src="~/NewFolder2/styles/bootstrap4/bootstrap.min.js"></script>
        <script src="~/NewFolder2/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/NewFolder2/plugins/easing/easing.js"></script>
        <script src="~/NewFolder2/plugins/masonry/masonry.js"></script>
        <script src="~/NewFolder2/js/js3/aos.js"></script>
        <script src="~/NewFolder2/js/js3/main.js"></script>
        @if (IsSectionDefined("AddToEnd"))
        {
            @RenderSection("AddToEnd", required: false)
        }
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/NewFolder2/js/jquery-3.2.1.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/NewFolder2/js/styles/bootstrap4/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>

<style>
    .dropdown-menu a {
        color: black;
    }

        .dropdown-menu a:hover {
            color: cadetblue;
        }

    .topnav a:hover {
        border-bottom: 3px solid #ec517f;
    }

    .topnav a:active {
        color: darkred;
    }

    .navbar {
        padding-left: 7%;
        padding-right: 7%;
    }

    .header {
        margin-bottom: 0px;
    }

    .dropdown-menu a:hover {
        color: rgba(0, 123, 255,0.6);
    }

    .navbar-light .navbar-nav .active > .nav-link {
        color: #ad001c;
    }

    .header {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,.9);
    }

    .footer_block {
        display: block;
    }

    .footer_small {
        display: none;
    }

    footer h4 {
        font-family: "Ubuntu", sans-serif;
        font-size: 1rem;
        line-height: 1.375;
        font-weight: 400;
        color: white;
        margin-bottom: .5rem;
    }

    footer a {
        color: #f2ba16;
        font-weight: 300;
        text-decoration: none;
        background-color: transparent;
                      font-size: 13px;
    }

        footer a:hover {
            color: #ad913f;
            text-decoration: none;
        }

    footer {
        font-family: "Ubuntu", "Work-sans", sans-serif;
        background: #012035;
    }

    li:not(:last-child).d-inline {
        margin-right: 18px;
    }

    .searchbox {
        display: none;
    }

    .before_menu{
        display:none;
    }

    .after_menu{
        display:block;
        margin-left:auto;
    }
</style>
@*<script>


    $(function () {
        $('nav a[href="/' + location.pathname.split("/")[1] + '/' +  '"]').parents('li').addClass('active');

    });*@


