@model SelahSeries.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "SearchResultView";
}
@section AddToHead {
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
}
@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
    <script src="~/NewFolder2/shop/js/bookstore.js"></script>
}
<h2 style="text-align:center; color:#ad001c; padding:10px; margin-top:99px"> Search Result </h2>

<div class="container">
    <div class="row ">
        <div class="col-lg-2"> </div>
        <div class=" col-sm-12 col-lg-8">
            
            @if (Model.Posts.Any())
            {
                <div style="cursor:pointer;margin:10px; padding:10px;" class="section_title" data-toggle="collapse" data-toggler href="#ArticleCollapse">Articles <i class="fa fa-caret-down"></i></div>
                <div id="ArticleCollapse" class="section_content">


                    @foreach (var item in Model.Posts)
                    {
                        <a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">
                            <!-- Small Card With Image -->
                            <div class="searchItem ">
                                <div class="row search-item">
                                    <div class="col-md-4 col-lg-4 search-item-image">
                                        <img style="" src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="https://unsplash.com/" />
                                    </div>
                                    <div class="col-md-8 col-lg-8  search-item-title">
                                        @Html.DisplayFor(modelItem => item.Title)
                                        <br>
                                        <span> @Html.DisplayFor(modelItem => item.Author) @Html.DisplayFor(modelItem => item.ModifiedAt)
                                    </div>

                                </div>

                            </div>
                        </a>

                    }

                </div>

            }

            @if (Model.Books.Any())
            {
                <div style="cursor:pointer;margin:10px; padding:10px;" data-toggle="collapse" role="button" href="#bookstoreCollapse" class="section_title">Books <i class="fa fa-caret-down"></i></div>
                <div class="section_content" id="bookstoreCollapse">

                    @foreach (var item in Model.Books)
                    {
                        <a href="~/blog/post/@Html.DisplayFor(modelItem => item.Title)">
                            <!-- Small Card With Image -->
                            <div class="searchItem ">
                                <div class="row search-item">
                                    <div class="col-md-4 col-lg-4 search-item-image">
                                        <img style="" src='~/Uploads/@Html.DisplayFor(modelItem => item.ImageUrl)' alt="https://unsplash.com/" />
                                    </div>
                                    <div class="col-md-8 col-lg-8  search-item-title">
                                        @Html.DisplayFor(modelItem => item.Title)
                                        <br>
                                        <span>By @Html.DisplayFor(modelItem => item.Author)</span>
                                        <div class="thumb-content">

                                            @if (item.IsHardBook == true)
                                            {

                                                //Products.Add(new ShopBook()
                                                //{
                                                //    Price = item.Price,
                                                //    Tag = item.ImageUrl,
                                                //    Title = item.Title,
                                                //    InCart = 0
                                                //});

                                                <h4 style="color:black">₦@item.Price</h4>
                                                <a style="color:white" class="add-cart cart btn btn-primary">Add to Cart</a>
                                            }
                                            <a href="~/uploads/@item.BookUrl" download class="btn btn-primary">Download</a>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </a>

                    }

                </div>

            }
            @if (!(Model.Posts.Any() || Model.Books.Any()))
            {


                <h4 style="text-align:center; color:black;"> No Item matches your search </h4>

            }
        </div>
        <div class="col-lg-2"> </div>

    </div>
</div>

<style>
    .row {
        width: 100%;
        max-width: 100%;
    }

    .searchItem {
        margin: 10px;
        width: 100%;
        max-width: 100%;
    }

        .searchItem:hover {
            background-color: rgba(255, 216, 0, 0.1)
        }

    .search-item {
        border-bottom: 1px solid #007bff;
    }

    .search-item-image img {
        max-width: 100%;
    }

    .search-item-title {
        text-align: center;
        font-weight: bold;
        color: black;
    }

        .search-item-title span {
            font-size: small;
            font-weight: normal;
            color: #808080;
            align-items: baseline;
        }

    .search-item-image, .search-item-title {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .contain {
        position: relative;
        text-align: center;
    }


    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-block {
        background-color: black;
        color: white;
        padding: 40px;
        opacity: 0.8;
        font-size: 40px
    }

    .section_title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #ad001c;
        padding-bottom: 10px;
        white-space: nowrap;
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
    }

    .containe {
        background-color: #F2F2F2;
        padding: 62px;
    }

    .books .carousel-inner {
        height: 320px;
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: no-content;
    }
</style>
