@model SelahSeries.ViewModels.PostHomeViewModel
@using Newtonsoft.Json;
@using System.Collections;
@{
    ViewData["Title"] = "Home Page";

    var category = ViewData["Category"];
    var pageIndex = Convert.ToInt32(ViewData["PageIndex"]);
    var previous = pageIndex - 1;
    var next = pageIndex + 1;
    var latestArticle = Model.LatestArticle.OrderByDescending(x => x.CreatedAt);
    List<Book> Books_Slide1 = new List<Book>();
    List<Book> Books_Slide2 = new List<Book>();
    List<Book> Books_Slide3 = new List<Book>();
    ArrayList Products = new ArrayList();
    if (Model.Books.Any())
    {
        for (int i = 0; i < 2; i++)
        {
            Books_Slide1.Add(Model.Books[i]);
        }
    }

    //for (int i = 2; i < 3; i++)
    //{
    //    Books_Slide2.Add(Model.Books[i]);
    //}
    //for (int i = 4; i < 6; i++)
    //{
    //    Books_Slide2.Add(Model.Books[i]);
    //}
}
@section AddMetaTags {

    <meta property="og:title" content="Selah Series">
    <meta property="og:description" content="A blog on relationship and marriage, career, sport and politis">
    <meta property="og:image" content="www.selahseries.com/NewFolder2/new/selah s.png">
    <meta property="og:image:secure_url" content="www.selahseries.com/NewFolder2/new/selah s.png">

    <meta property="og:url" content="selahseries.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
}

@section AddToHead {
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/more_styles.css">
}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
    <script src="~/NewFolder2/shop/js/bookstore.js"></script>
}

<div id="carouselExampleIndicators" class="home carousel slide" style="margin: 0px; padding:0px" data-ride="carousel">
    <ol class="carousel-indicators" style="bottom:0px; width:75%">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('/NewFolder2/new/man-wearing-black-formal-coat-and-white-turtleneck-shirt-3894495.jpg')">

            <div class="carousel-caption text-block d-md-block">
                <h3 style="margin-bottom: 15px; color:#f2ba16">Ponder on your path to fulfilment</h3>
                <p><a href="~/blog/index" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>

            </div>


        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/NewFolder2/new/hian-oliveira-7-gtkXm2b5U-unsplash (1).jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4" style="">Home of counsel and support</h3>


                <p><a href="~/blog/index" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>
            </div>

        </div>

        <div class="carousel-item" style="background-image: url('/NewFolder2/new/agriculture-asia-cat-china-235648.jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4">With us, you come up and grow your potentials</h3>


                <p><a href="~/blog/index" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>
            </div>

        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/NewFolder2/new/emilio-garcia-AWdCgDDedH0-unsplash.jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4">Get incising updates on politics and football</h3>

                <p><a href="~/blog/index" style=" letter-spacing: 0.02em;" class="btn btn-primary">Visit Blog</a></p>
            </div>

        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*
    <div class="container containe">

        <div class="imagee row" style="height:150px; margin-bottom:40px">
            <div class=" col-sm-12  col-12 text-center">
                <img style="height:150px" src="~/NewFolder2/new/middl selah.png" alt="image" />

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="~/blog/index/?category=relationship_and_marriage#blog">
                    <div class="card2">

                        <img src="/NewFolder2/new/brigitte-tohm-XyGeWTj2E7w-unsplash.jpg" alt="Avatar">
                        <div class="container2">
                            <h4>Check out our articles on Relationship and Marriage</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="~/blog/index/?category=sports#blog">
                    <div class="card2">
                        <img src="/NewFolder2/new/kakudmi-JO19K0HDDXI-unsplash (1).jpg" alt="Avatar">
                        <div class="container2">
                            <h4>Get entertained with news on Football</h4
                            <p><a href="~/?category=sports#blog">See here</a></p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="~/blog/index/?category=career#blog">
                    <div class="card2">

                        <img src="/NewFolder2/new/jacalyn-beales-geRpPjIiu8U-unsplash.jpg" alt="Avatar ">
                        <div class="container2">
                            <h4>Our Career section provides you interesting contents on career</h4>

                        </div>
                    </div>
                </a>
            </div>



            <div class="col-sm-6 col-md-6 col-lg-3">
                <a href="~/blog/index/?category=politics#blog">
                    <div class="card2">
                        <img src="/NewFolder2/new/lucia-48UaeIMNAA4-unsplash (2).jpg" alt="Avatar">
                        <div class="container2">
                            <h4>A lover of politics? We have related articles for you.</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div> *@

<!-- Page Content -->

<div class="page_content">
    <div class="container">

        <div class="row row-lg-eq-height">

            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Latest -->
                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Latest Articles</div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">


                                @foreach (var item in latestArticle)
                                {

                                <div class="card card_default card_small_with_image grid-item">
                                    <img class="card-img-top" src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">@Html.DisplayFor(modelItem => item.Title)</a></div>
                                        <small class="post_meta"><a href="#">@Html.DisplayFor(modelItem => item.Author)</a><span>@Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                    </div>
                                </div>


                                }

                            </div>

                        </div>
                    </div>

                    <div class="load_more">
                        <div id="load_more" class="load_more_button text-center trans_200">
                            <a href="~/Blog/Index">View More</a>
                        </div>
                    </div>

                    <!-- Blog Section - Don't Miss -->


                </div>

            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />























											</svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_vid">
                                        <li class="custom_dot custom_dot_vid active"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />























											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_vid">
                                    <div class="owl-item">
                                        @foreach (var item in Model.TopPosts)
                                        {
                                        <div class="side_post">
                                            <a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)" alt="@item.Title"></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">@Html.DisplayFor(modelItem => item.Title)</div>
                                                        <small class="post_meta">@Html.DisplayFor(modelItem => item.Author)<span>@Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>


                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Projects-->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Projects</div>
                            <div class="advertising_2">
                                <div class="advertising_background" style="background-image:url(/EMI/img/emerald_tst.png)"></div>
                                @*<div class="advertising_2_content d-flex flex-column align-items-center justify-content-center"</div>*@
                            </div>
                            <br />
                            <div>
                                <p text-align="justify">The Emerald Light Project is targeted at advocating for and supporting pregnant teenagers & teen mothers</p>

                                <p>Click <a href="~/emeraldlight">here</a> to go to Emerald Light.</p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Books Advertisement-->
<!--Advert header-->
<div class="row" id="books">
    <div class="centered h2" style=" font-family: 'Ubuntu', sans-serif;
        margin-top: 3%;
        z-index: 2;
        padding: 10px;
        background: white;
        box-shadow: 0px 18px 25px 0px rgba(2,5,6,0.1);
        color: #f2ba16;">Trending Books By Author</div>
</div>

<!--Books-->
<div class="page_content" style="margin-top:35px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="books carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->

                    <div class="carousel-inner">

                        <div class="item carousel-item active">
                            <div class="row">
                                @foreach (var item in Books_Slide1)
                                {
                                <div class="col-sm-6">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">@item.Title</h5>
                                            @if (item.IsHardBook == true)
                                                {

                                                    Products.Add(new ShopBook()
                                                    {
                                                        Price = item.Price,
                                                        Tag = item.ImageUrl,
                                                        Title = item.Title,
                                                        InCart = 0
                                                    });


                                            <p class="item-price">₦@item.Price</p>
                                            <a class="add-cart cart btn btn-primary">Add to Cart</a>
                                                }
                                            <a href="~/uploads/@item.BookUrl" download class="btn btn-primary">Download</a>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>


                        @*@foreach (var item in Books_Slide2)
                            {
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h5 style="color:black">@item.Title</h5>
                                                    @if (item.IsHardBook == true)
                                                    {
                                                        <p class="item-price">@item.Price</p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    }
                                                    <a href="#" class="btn btn-primary">Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (var item in Books_Slide3)
                            {
                                <div class="item carousel-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h5 style="color:black">@item.Title</h5>
                                                    @if (item.IsHardBook == true)
                                                    {
                                                        <p class="item-price">@item.Price</p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    }
                                                    <a href="#" class="btn btn-primary">Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }*@
                    </div>

                    @{
                        var output = @Html.Raw(JsonConvert.SerializeObject(Products));
                    }

                    <script>
                                    if (localStorage.getItem("BooksForSale") == null) {
                                        localStorage.setItem("BooksForSale", JSON.stringify(@output))
                                    }
                    </script>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">
                        <a href="~/Books/Index">Go to BookStore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .load_more a {
        color: white;
    }

        .load_more a:hover {
            color: darkred;
        }

    .contain {
        position: relative;
        text-align: center;
    }


    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-block {
        background-color: black;
        color: white;
        padding: 40px;
        opacity: 0.8;
        font-size: 40px
    }

    .containe {
        background-color: #F2F2F2;
        padding: 50px 0px;
    }

    .books .carousel-inner {
        height: 320px;
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: no-content;
    }

    div.carousel-caption {
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .mb-4 {
        color: #f2ba16;
        font-size: 0.6em;
        letter-spacing: 0.03em;
        font-family: 'Work Sans', sans-serif;
    }

    .page-link:hover {
        z-index: 2;
        color: #fff;
        background-color: #ad001c;
        border-color: #ad001c;
        cursor: pointer;
    }

    .pagination .active {
        z-index: 2;
        color: #fff;
        background-color: #ad001c;
        border-color: #ad001c;
    }

    ul > li {
        display: block;
    }

        ul > li .all {
            display: none;
        }

        ul > li .first {
            display: none;
        }

        ul > li .second {
            display: none;
        }

        ul > li .third {
            display: none;
        }

        ul > li .fourth {
            display: none;
        }

        ul > li .fifth {
            display: block;
        }

    .category {
        display: none;
    }

    .more {
        display: block;
    }
</style>
