@{
    ViewData["Title"] = "Home Page";
}

@section AddToHead {

    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}


<div id="carouselExampleIndicators" class="home carousel slide" style="margin: 0px; padding:0px" data-ride="carousel">
    <ol class="carousel-indicators" style="bottom:0px">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/NewFolder2/new/bruno-aguirre-EHAbTS3lnr4-unsplash.jpg')">
            <div class="carousel-caption d-md-block" style="margin-bottom:11.31em; margin-top:11.31em">
                <h2 class="mb-4" style="color: white ; font-family: 'Work Sans', sans-serif">Welcome to Selah Series</h2>
                <h3 style="color: white ; font-family: 'Work Sans', sans-serif">Let's help you have a fulfilling love life...</h3>
                <br /><br />
                <p><a href="#blog" class="btn btn-primary px-5 py-3">Visit Blog</a></p>
            </div>
            <div class="black-overlay"></div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('NewFolder2/new/dimitri-houtteman-2P6Q7_uiDr0-unsplash.jpg')">
            <div class="carousel-caption d-md-block" style="margin-bottom:11.31em; margin-top:11.31em">
                <h2 class="mb-4" style="color: white ; font-family: 'Work Sans', sans-serif">Need Support and Counselling?</h2>
                <h3 style="color: white ; font-family: 'Work Sans', sans-serif">We inspire you to have a real life...</h3>
                <br /><br />
                <p><a href="#blog" class="btn btn-primary px-5 py-3">Visit Blog</a></p>
            </div>
            <div class="black-overlay"></div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/NewFolder2/new/markus-spiske-KWQ2kQtxiKE-unsplash (1).jpg')">
            <div class="carousel-caption d-md-block" style="margin-bottom:11.31em; margin-top:11.31em">
                <h2 class="mb-4" style="color: white ; font-family: 'Work Sans', sans-serif">Get latest news about sports</h2>
                <h3 style="color: white ; font-family: 'Work Sans', sans-serif">and politics right here...</h3>
                <br /><br />
                <p><a href="#blog" class="btn btn-primary px-5 py-3">Visit Blog</a></p>
            </div>
            <div class="black-overlay"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class=" = 'container" style="padding: 62px">
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="top carde" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                <img id="first" src="/NewFolder2/new/brigitte-tohm-XyGeWTj2E7w-unsplash.jpg" alt="Avatar" style="width:100%; height:17.81em">
                <div class="contain">
                    <h4 style="color: #ad001c"><b>Are you intereted in relationhip and marriage articles?</b></h4>
                    <a>@Html.ActionLink("See here >>>", "Category", "Blog")</a>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="top carde" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                <img src="/NewFolder2/new/jacalyn-beales-geRpPjIiu8U-unsplash.jpg" alt="Avatar" style="width:100%; height:17.81em">
                <div class="contain">
                    <h4 style="color: #002cb5"><b>Do u need support/counselling?</b></h4>
                    <a>@Html.ActionLink("See here >>>", "Category", "Blog")</a>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="top carde" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
                <img id="third" src="/NewFolder2/new/kakudmi-JO19K0HDDXI-unsplash (1).jpg" alt="Avatar" style="width:100%; height:17.81em">
                <div class="contain">
                    <h4 style="color: purple"><b>Need latet update on sports?</b></h4>
                    <a>@Html.ActionLink("See here >>>", "Category", "Blog")</a>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="top carde" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; ">
                <img src="/NewFolder2/new/lucia-48UaeIMNAA4-unsplash (2).jpg" alt="Avatar" style="width:100%; height:17.81em">
                <div class="contain">
                    <h4 style="color: green"><b>Looking for news on politics?</b></h4>
                    <<a>@Html.ActionLink("See here >>>", "Category", "Blog")</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row" id="blog">
    <img style="width:100%; height:19.06em" src="/NewFolder2/new/element5-digital-MEzqoN8p6C0-unsplash.jpg" alt="image" />
    <div class="centered h2" style="font-family: 'Ubuntu', sans-serif; color:white">Blog</div>
</div>


<!-- Page Content -->
<div class="page_content">
    <div class="container">


        <div class="row row-lg-eq-height">

            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Don't Miss -->

                    <div class="blog_section">

                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Don't Miss</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    <li class="active"><a href="category.html">all</a></li>
                                    <li>@Html.ActionLink("Married", "Category", "Blog")</li>
                                    <li>@Html.ActionLink("Singles", "Category", "Blog")</li>
                                    <li>@Html.ActionLink("Teenagers", "Category", "Blog")</li>
                                    <li>@Html.ActionLink("Politics", "Category", "Blog")</li>
                                    <li>@Html.ActionLink("Sports", "Category", "Blog")</li>
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        more
                                        <ul>
                                            <li><a href="category.html">new look 2018</a></li>
                                            <li><a href="category.html">street fashion</a></li>
                                            <li><a href="category.html">business</a></li>
                                            <li><a href="category.html">recipes</a></li>
                                            <li><a href="category.html">sport</a></li>
                                            <li><a href="category.html">celebrities</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="section_content">
                            <div class="grid clearfix">

                                <!-- Largest Card With Image -->
                                <div class="card card_largest_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_1.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <p class="card-text">Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Background -->
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_4.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_2.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_3.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Default Card No Image -->

                                <div class="card card_default card_default_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                    </div>
                                </div>

                                <!-- Default Card No Image -->

                                <div class="card card_default card_default_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                    </div>
                                </div>

                                <!-- Default Card No Image -->

                                <div class="card card_default card_default_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Blog Section - Latest -->
                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Latest Articles</div>
                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_10.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_15.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_13.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Background -->
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_11.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Background -->
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_16.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="~/NewFolder2/images/post_14.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Default Card With Background -->
                                <div class="card card_default card_default_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_12.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                    </div>
                                </div>

                                <!-- Default Card With Background -->
                                <div class="card card_default card_default_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_6.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>

            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />























											</svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />























											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    < class="side_post_image"><div><img src="~/NewFolder2/images/top_1.jpg" alt=""></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/NewFolder2/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising -->

                    <div class="sidebar_section" style="margin-bottom: 80px">
                        <div class="advertising">
                            <div class="advertising_background" style="background-image:url(/NewFolder2/images/post_17.jpg)"></div>
                            <div class="advertising_content d-flex flex-column align-items-start justify-content-end">
                                <div class="advertising_perc">-15%</div>
                                <div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
                            </div>
                        </div>
                    </div>


                    <!-- Newest Videos -->

                    <div class="sidebar_section newest_videos">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Newest Books</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />







											</svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_vid">
                                        <li class="custom_dot custom_dot_vid active"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />







											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_vid">

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(/NewFolder2/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>

</div>

<div class="row" id="books">
    <div class="has-overlay">
        <img style="width:100%; height:19.06em" src="/NewFolder2/new/florencia-viadana-1J8k0qqUfYY-unsplash (2).jpg" alt="image" />
    </div>
    <div class="centered h2" style="font-family: 'Ubuntu', sans-serif; color:white">Trending <b>Books</b> By Author</div>
</div>

<!-- Books Advertisement-->
<div class="page_content" style="margin-top:35px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->

                    <div class="carousel-inner" style="height:21em">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">
                        <a>Go to BookStore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .has-overlay::after {
        content: "";
        display: block;
        position: absolute;
        padding: 100px 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }

        .carousel .item {
            min-height: 330px;
            text-align: center;
            overflow: hidden;
        }

            .carousel .item .img-box {
                height: 160px;
                width: 100%;
                position: relative;
            }

            .carousel .item img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }

            .carousel .item h4 {
                font-size: 18px;
                margin: 10px 0;
            }

            .carousel .item .btn {
                color: #8b0000;
                border-radius: 0;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                background: none;
                border: 1px solid #ccc;
                padding: 5px 10px;
                margin-top: 5px;
                line-height: 16px;
            }

                .carousel .item .btn:hover, .carousel .item .btn:focus {
                    color: #fff;
                    background: #8b0000;
                    border-color: #8b0000;
                    box-shadow: none;
                }

                .carousel .item .btn i {
                    font-size: 14px;
                    font-weight: bold;
                    margin-left: 5px;
                }

        .carousel .thumb-wrapper {
            text-align: center;
        }

        .carousel .thumb-content {
            padding: 15px;
        }

        .carousel .carousel-control {
            height: 100px;
            width: 40px;
            background: none;
            margin: auto 0;
            background: rgba(0, 0, 0, 0.2);
        }

            .carousel .carousel-control i {
                font-size: 30px;
                position: absolute;
                top: 50%;
                display: inline-block;
                margin: -16px 0 0 0;
                z-index: 5;
                left: 0;
                right: 0;
                color: rgba(0, 0, 0, 0.8);
                text-shadow: none;
                font-weight: bold;
            }

        .carousel .item-price {
            font-size: 13px;
            padding: 2px 0;
        }

            

            .carousel .item-price {
                color: black;
                font-size: 110%;
            }

        .carousel .carousel-control.left i {
            margin-left: -3px;
        }

        .carousel .carousel-control.left i {
            margin-right: -3px;
        }

        .carousel .carousel-indicators {
            bottom: -50px;
        }

    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border-color: transparent;
    }

    .carousel-indicators li {
        background: rgba(0, 0, 0, 0.2);
    }

        .carousel-indicators li.active {
            background: rgba(0, 0, 0, 0.6);
        }

    .star-rating li {
        padding: 0;
    }

    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }

    .carousel-item {
        position: relative;
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .black-overlay {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.6)
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


