@model SelahSeries.ViewModels.PostHomeViewModel
@{
    ViewData["Title"] = "Home Page";

    var category = ViewData["Category"];
    var latestArticle = Model.LatestArticle.OrderByDescending(x => x.CreatedAt);
   

}

@section AddToHead {
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/NewFolder2/styles/more_styles.css">
}

@section AddToEnd {
    <script src="~/NewFolder2/plugins/masonry/images_loaded.js"></script>
    <script src="~/NewFolder2/js/custom.js"></script>
}

<div id="carouselExampleIndicators" class="home carousel slide" style="margin: 0px; padding:0px" data-ride="carousel">
    <ol class="carousel-indicators" style="bottom:0px">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('/NewFolder2/new/man-wearing-black-formal-coat-and-white-turtleneck-shirt-3894495.jpg')">

            <div class="carousel-caption text-block d-md-block">
                <h3 style="margin-bottom: 15px; color:#f2ba16">Ponder on your path to fulfilment</h3>
                <p><a href="#blog" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>

            </div>


        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/NewFolder2/new/hian-oliveira-7-gtkXm2b5U-unsplash (1).jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4" style="">Home of counsel and support</h3>


                <p><a href="#blog" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>
            </div>

        </div>

        <div class="carousel-item" style="background-image: url('/NewFolder2/new/agriculture-asia-cat-china-235648.jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4">With us, you come up and grow your potentials</h3>


                <p><a href="#blog" style=" letter-spacing: 0.02em;" class="btn btn-primary px-4 py-2">Visit Blog</a></p>
            </div>

        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/NewFolder2/new/emilio-garcia-AWdCgDDedH0-unsplash.jpg')">
            <div class="carousel-caption text-block d-md-block">
                <h3 class="mb-4">Get incising updates on politics and football</h3>

                <p><a href="#blog" style=" letter-spacing: 0.02em;" class="btn btn-primary">Visit Blog</a></p>
            </div>

        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class=" = 'container containe">
    <div class="row" style="height:150px">
        <div class=" col-sm-12  col-12 text-center" >
            <h1 style="color:black">LOGO</h1>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="card2">

                <img src="/NewFolder2/new/brigitte-tohm-XyGeWTj2E7w-unsplash.jpg" alt="Avatar">
                <div class="container2">
                    <h4>Interested in articles on Relationship and Marriage?</h4>
                    <p><a href="~/?category=relationship_and_marriage#blog">See here</a></p>
                </div>
            </div>

        </div>

        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="card2">
                <img src="/NewFolder2/new/kakudmi-JO19K0HDDXI-unsplash (1).jpg" alt="Avatar">
                <div class="container2">
                    <h4>Need latest news on sports?</h4>
                    <p><a href="~/?category=sports#blog">See here</a></p>
                </div>
            </div>

        </div>


        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="card2">

                <img src="/NewFolder2/new/jacalyn-beales-geRpPjIiu8U-unsplash.jpg" alt="Avatar ">
                <div class="container2">
                    <h4>Do you want to read about having a fulfilling career?</h4>
                    <p><a href="~/?category=career#blog">See here</a></p>
                </div>
            </div>

        </div>



        <div class=" col-sm-12 col-md-6 col-lg-3">
            <div class="card2">
                <img src="/NewFolder2/new/lucia-48UaeIMNAA4-unsplash (2).jpg" alt="Avatar">
                <div class="container2">
                    <h4>Are you interested in politics?</h4>
                    <p><a href="~/?category=politics#blog">See here</a></p>
                </div>
            </div>

        </div>

    </div>
</div>




<div id="blog">
    <div class="row" style="background: url('/NewFolder2/new/brass-black-brown-fountain-pen-163029 (2).jpg')">
        <div class="has-overlay">
            <img style="width:100%; height:18.06em" src='/NewFolder2/new/brass-black-brown-fountain-pen-163029 (2).jpg' alt="image" />
        </div>
        <div class="centered h2" style="font-family: 'Ubuntu', sans-serif; color:#f2ba16">Blog</div>
    </div>
</div>




<!-- Page Content -->

<div class="page_content">
    <div class="container">


        <div class="row row-lg-eq-height">

            <!-- Main Content -->
            <div class="col-lg-9">
                <div class="main_content">



                    <!-- Blog Section - Latest -->
                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Articles</div>
                            <div class="section_tags ml-auto">
                                <ul id="navDiv">
                                    <li class="active btnn"><a href="~/?category=all#blog">All</a></li>
                                    <li class="btnn"><a href="~/?category=relationship_and_marriage#blog">Relationship & Marriage</a></li>
                                    <li class="btnn"><a href="~/?category=politics#blog">Politics</a></li>
                                    <li class="btnn"><a href="~/?category=sports#blog">Sports</a></li>
                                    <li class="btnn"><a href="~/?category=career#blog">Career</a></li>
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        more
                                        <ul>
                                            <li class="all active"><a href="~/?category=all#blog">All</a></li>
                                            <li class="first"><a href="~/?category=relationship_and_marriage#blog">Relationship & Marriage</a></li>
                                            <li class="second"><a href="~/?category=politics#blog">Politics</a></li>
                                            <li class="third"><a href="~/?category=sports#blog">Sports</a></li>
                                            <li class="fourth"><a href="~/?category=career#blog">Career</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="section_content">
                            <div class="grid clearfix">
                                @{
                                    
                                            foreach (var item in latestArticle)
                                            {
                                                
                                                    <div class="card card_small_with_image grid-item">
                                                        <img class="card-img-top" src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="https://unsplash.com/">
                                                        <div class="card-body">
                                                            <div class="card-title card-title-small"><a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">@Html.DisplayFor(modelItem => item.Title)</a></div>
                                                            <small class="post_meta"><a href="#">@Html.DisplayFor(modelItem => item.Author)</a><span>@Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                                        </div>
                                                    </div>
                                                

                                            }
                                         

                                    }
                                


                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_10.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">Html.DisplayFor(modelItem => item.Title)</a></div>
                                        <small class="post_meta"><a href="#">Html.DisplayFor(modelItem => item.Author)</a><span>Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_15.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">Html.DisplayFor(modelItem => item.Title)</a></div>
                                        <small class="post_meta"><a href="#">Html.DisplayFor(modelItem => item.Author)</a><span>Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                    </div>
                                </div>




                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_15.jpg" alt="">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">Html.DisplayFor(modelItem => item.Title)</a></div>
                                        <small class="post_meta"><a href="#">Html.DisplayFor(modelItem => item.Author)</a><span>Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                    </div>
                                </div>


                                <!-- Small Card With Background -->
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_11.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">Title</a></div>
                                        <small class="post_meta"><a href="#">Html.DisplayFor(modelItem => item.Author)</a><span>Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                    <div style="margin-top:80px; margin-bottom:80px">
                        <nav>
                            <ul id="navDiv0" class="pagination pg-red pagination-lg justify-content-center">
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item btnn0 active"><a href="~/2?@category=all#blog" class="page-link waves-effect waves-effect">1</a></li>
                                <li class="page-item btnn0"><a href="~/2?category=@category#blog" class="page-link waves-effect waves-effect">2</a></li>
                                <li class="page-item btnn0"><a href="~/3?category=@category#blog" class="page-link waves-effect waves-effect">3</a></li>
                                <li class="page-item btnn0"><a href="~/4?category=@category#blog" class="page-link waves-effect waves-effect">4</a></li>
                                <li class="page-item btnn0"><a href="~/5?category=@category#blog" class="page-link waves-effect waves-effect">5</a></li>
                                <li class="page-item btnn0">
                                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Blog Section - Don't Miss -->

                    <div class="blog_section" style="margin-bottom:80px">

                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Don't Miss</div>


                        </div>

                        <div class="section_content">
                            <div class="grid clearfix">
                                

                            @foreach (var item in Model.DontMiss)
                                        {


                                    <!-- Small Card With Image -->
                                    <div class="card card_small_with_image grid-item">
                                        <img class="card-img-top" src='~/Uploads/@Html.DisplayFor(modelItem => item.TitleImageUrl)' alt="https://unsplash.com/">
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="~/blog/post/@Html.DisplayFor(modelItem => item.PostId)">@Html.DisplayFor(modelItem => item.Title)</a></div>
                                            <small class="post_meta"><a href="#">@Html.DisplayFor(modelItem => item.Author)</a><span>@Html.DisplayFor(modelItem => item.ModifiedAt)</span></small>
                                        </div>
                                    </div>


                            }

                                       


                                <!-- Small Card Without Image -->
                                <div class="card card_default card_small_no_image grid-item">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Background -->
                                <div class="card card_default card_small_with_background grid-item">
                                    <div class="card_background" style="background-image:url(/NewFolder2/images/post_4.jpg)"></div>
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_2.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>

                                <!-- Small Card With Image -->
                                <div class="card card_small_with_image grid-item">
                                    <img class="card-img-top" src="/NewFolder2/images/post_3.jpg" alt="https://unsplash.com/">
                                    <div class="card-body">
                                        <div class="card-title card-title-small"><a href="~/blog/post">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
                                        <small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>

                </div>
                

                @*<div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200"><a href="~/blog/category">View More</a></div>
                </div>*@

            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />















											</svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_vid">
                                        <li class="custom_dot custom_dot_vid active"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />















											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_vid">

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="/NewFolder2/images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="~/blog/post">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(/NewFolder2/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>

</div>


<!-- Books Advertisement-->
<!--Advert header-->
<div class="row" id="books">
    <div class="has-overlay">
        <img style="width:100%; height:16.06em" src="/NewFolder2/new/florencia-viadana-1J8k0qqUfYY-unsplash (2).jpg" alt="image" />
    </div>
    <div class="centered h2" style="font-family: 'Ubuntu', sans-serif; color:#f2ba16">Trending Books By Author</div>
</div>

<!--Books-->
<div class="page_content" style="margin-top:35px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="books carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->

                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$369.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$19.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$29.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$30.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$49.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$59.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$69.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$79.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$89.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$99.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$109.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/NewFolder2/new/element5-digital-7MEKVsmm44U-unsplash.jpg" class="img-responsive img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h5 style="color:black">Enjoying your marriage life.</h5>
                                            <p class="item-price">$119.00</p>

                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">
                        <a>Go to BookStore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .load_more a {
        color: white;
    }

        .load_more a:hover {
            color: darkred;
        }

    .contain {
        position: relative;
        text-align: center;
    }


    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-block {
        background-color: black;
        color: white;
        padding: 40px;
        opacity: 0.8;

        font-size: 40px

    }

    .containe {
        background-color: #F2F2F2;
        padding: 62px;
    }

    .books .carousel-inner {
        height: 320px;
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: no-content;
    }

    div.carousel-caption {

        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        
    }
    .mb-4 {
        color: #f2ba16;
        font-size: 0.6em;
        letter-spacing: 0.03em;
        font-family: 'Work Sans', sans-serif;
    }
    .page-link:hover {
        z-index: 2;
        color: #fff;
        background-color: #ad001c;
        border-color: #ad001c;
        cursor:pointer;
    }
    .pagination .active {
        z-index: 2;
        color: #fff;
        background-color: #ad001c;
        border-color: #ad001c;
        
    }
    .section_panel_more > ul > li {
        display: none;
    }
</style>

<script></script>