@model IEnumerable<SelahSeries.Models.Book>

@{
    ViewData["Title"] = "Index";
    ViewData["Add Navigation"] = "false";
}
@section AddToEnd {
    <script src="~/NewFolder2/js/blogmgt.js"></script>
}
<div style="color: #ffcc00; background-color:black;" class="jumbotron text-center">
    <h1>Book Management Page <br /> (List of Books)</h1>
    <p> Add, Delete, and Edit Books Here...</p>
</div>

@await Html.PartialAsync("AlertViewPartial")
<p>
    <a class="btn btn-primary btn-lg" asp-action="Create">Add New Book</a>
</p>
<table style="width:100%; text-align:center;" class="table table-striped table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHardBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                @if (item.CategoryId == 1)
                {
                    <td>Sports</td>
                }
                else if (item.CategoryId == 2)
                {
                    <td>
                        Politics
                    </td>
                }
                else if (item.CategoryId == 3)
                {
                    <td>Relationship and Marriage</td>
                }
                else if (item.CategoryId == 4)
                {
                    <td>Career</td>
                }
                else if (item.CategoryId == 5)
                {
                    <td>General</td>
                }
                else
                {
                    <td>Unknown</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHardBook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="color: #ffcc00; background-color:black; margin-bottom:0;" class=" text-center">
    <h1>Selah Series</h1>
    <p> &copy; 2020</p>
</div>

